@charset "UTF-8";

.main-title {
	width: 250px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

.main-title-content {
	color: #000000;
	text-align: center;
	line-height: 18px;
	font-weight: 700;
	width: 250px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.date-container {
	width: 250px;
	height: 40px;
	margin-right: auto;
	margin-left: calc(50% - 400px);
	margin-top: 40px;
	font-size: 1.1rem;
}

.table-container {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	width: 800px; /* 원하는 고정 너비 */
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}

/* 기본 테이블 스타일 */
table {
	border-collapse: collapse;
	width: 100%;
	border-left: none;
	border-right: none;
}

thead {
	background: #f3f3f3;
	height: 50px;
}

thead>tr {
	color: black;
}

table th {
	border-top: 1px solid black; /* 위쪽 테두리 */
	border-bottom: 1px solid black; /* 아래쪽 테두리 */
	border-left: none; /* 왼쪽 테두리 없음 */
	border-right: none; /* 오른쪽 테두리 없음 */
}

table td {
	border-top: 1px solid #ddd; /* 위쪽 테두리 */
	border-bottom: 1px solid #ddd; /* 아래쪽 테두리 */
	border-left: none; /* 왼쪽 테두리 없음 */
	border-right: none; /* 오른쪽 테두리 없음 */
}

tbody>tr {
	text-align: center;
	border: 0;
}

tbody>tr>td {
	height: 30px;
}

/* 스피너 CSS */
.spinner {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

/* 스피너 애니메이션 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}