@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GongGothicMedium';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KBO-Dia-Gothic_bold';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff')
		format('woff');
	font-weight: 700;
	font-style: normal;
}

html>body {
	font-family: "GongGothicMedium", sans-serif;
}

/* 노멀라이즈 시작 */
body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
/* 노멀라이즈 끝 */
html, body {
	height: 100%; /* 전체 높이 100% */
	margin: 0;
	padding: 0;
}

/* 메인페이지 세로길이 1300px라서 */
._1300, ._1300 * {
	box-sizing: border-box;
}

._1300 {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* 최소 높이를 100vh로 설정하여 화면 전체를 차지하도록 함 */
}

/* 나머지 페이지 세로길이 1200px라서 */
._1200, ._1200 * {
	box-sizing: border-box;
}

._1200 {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* 최소 높이를 100vh로 설정하여 화면 전체를 차지하도록 함 */
}

/* 메인 컨텐츠는 빈 공간을 채우도록 설정 */
.main-content {
	flex-grow: 1; /* 빈 공간을 채움 */
	padding-bottom: 100px;
}