@charset "UTF-8";

.main-title {
	width: 250px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

.main-title-content {
	color: #000000;
	text-align: center;
	line-height: 18px;
	font-weight: 700;
	width: 250px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.month-container {
	gap: 15px;
	position:absolute;
	top:280px;
	left:calc(50% - 72px);
}

.league-container {
	position:absolute;
	top:320px;
	left:calc(50% + 245px);	
}

.month-select {
	width: 70px;
	height: 30px;
	font-size: 16px;
	font-family: "GongGothicMedium", sans-serif;
}

.search-btn {
	width: 70px;
	height: 30px;
	font-size: 16px;
	font-family: "GongGothicMedium", sans-serif;
}

.option {
	border-style: solid;
	border-color: #afafaf;
	border-width: 1px;
	flex-shrink: 0;
	width: 120px;
	height: 40px;
	position: relative;
	overflow: hidden;
	font-size: 20px;
}

.table-container {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	width: 800px; /* 원하는 고정 너비 */
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
}

.game_table {
	border: 0;
}

thead {
	background: #f3f3f3;
	height: 50px;
}

thead>tr {
	color: black;
}

tbody>tr {
	text-align: center;
	border: 0;
}

tbody>tr>td {
	height: 30px;
}

/* 기본 테이블 스타일 */
table {
	border-collapse: collapse;
	width: 100%;
}

/* 날짜에 해당하는 td는 border 삭제 */
tbody>tr>td:first-child {
	border: 0;
	text-align: center;
}

th, td {
	border-bottom: 1px solid #ddd;
}

/* 날짜 셀이 처음 나타날 때 상단 테두리 추가 */
.new-date {
	border-top: 2px solid #ddd;
}

/* 날짜가 같을 경우 상단 테두리 없애기 */
.same-date {
	border-top: none;
}

/* 로딩중 스피너 스타일 */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/* 스피너 애니메이션 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}