@charset "UTF-8";

.main-title {
	width: 250px;
	height: 40px;
	position: absolute;
	left: calc(50% - 80px);
	top: 183px;
}

.main-title-content {
	color: #000000;
	text-align: center;
	line-height: 18px;
	font-weight: 700;
	position: absolute;
	left: calc(50% - 80px);
	top: 0px;
	width: 250px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-container {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	left: calc(50% + 12px);
	top: 270px;
}

.month-select {
	width: 70px;
	height: 30px;
	font-size: 16px;
	font-family: "GongGothicMedium", sans-serif;
}

.search-btn {
	width: 70px;
	height: 30px;
	font-size: 16px;
	font-family: "GongGothicMedium", sans-serif;
}

.option {
	border-style: solid;
	border-color: #afafaf;
	border-width: 1px;
	flex-shrink: 0;
	width: 120px;
	height: 40px;
	position: relative;
	overflow: hidden;
	font-size: 20px;
}

.table-container {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	left: calc(50% - 245px);
	top: 330px;
}

thead {
	background: #f3f3f3;
	height: 50px;
	border: solid 2px black;
}

thead>tr {
	color: black;
	border: 1px solid #ddd;
}

tbody>tr {
	text-align: center;
	border:0;
}

tbody>tr>td {
	height: 30px;
}

/* 기본 테이블 스타일 */
table {
	border-collapse: collapse;
	width: 100%;
}

/* 날짜에 해당하는 td는 border 삭제 */
tbody>tr>td:first-child {
	border:0;
	text-align: center;
}

/* 새로운 날짜일 경우 상단에 테두리 추가 */
.new-date {
	border-top: 2px solid #ddd;
}

/* 동일한 날짜인 경우 상단 테두리 제거 */
.same-date {
	border-top: none;
}