@charset "UTF-8";

.form-container {
	background: #ffffff;
	border-radius: 20px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	width: 700px;
	height: 400px;
	position: absolute;
	left: calc(50% - 350px);
	top: 323px;
}

.form-contents-container {
	display: flex;
	flex-direction: column;
	gap: 49px;
	align-items: flex-start;
	justify-content: flex-start;
	width: 600px;
	position: absolute;
	left: calc(50% - 300px);
	top: 146px;
}

.content-container {
	background: #ffffff;
	align-self: stretch;
	flex-shrink: 0;
	height: 30px;
	position: relative;
	overflow: hidden;
}

.input {
	text-align: left;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	position: absolute;
	left: 200px;
	top: 0px;
	width: 400px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
/* svg 아이콘 CSS */
.icons {
	width: 4%;
	height: 80%;
	position: absolute;
	right: 89.67%;
	left: 6.33%;
	bottom: 10%;
	top: 10%;
	overflow: visible;
}
/* 안내문구 창 크기 및 위치고정 CSS */
.notice {
	width: 120px;
	height: 40px;
	position: absolute;
	left: calc(50% - 324px);
	top: 48px;
	overflow: hidden;
}
/* 안내 문구(content) CSS */
.notice-content {
	color: #444444;
	text-align: center;
	font-size: 24px;
	line-height: 18px;
	position: absolute;
	left: calc(50% - 59px);
	top: 0px;
	width: 120px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 찾기 버튼 CSS */
.find-btns-container {
	width: 420px;
	height: 80px;
	position: absolute;
	left: calc(50% - 210px);
	top: 750px;
	overflow: hidden;
}

.find-btns {
	color: #999999;
	text-align: center;
	font-size: 20px;
	line-height: 18px;
	position: absolute;
	top: 0px;
	width: 200px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.find-btns-id {
	left:0px;
}

.find-btns-pw {
	left:220px;
}
/* 찾기 버튼 CSS 여기까지 */

/* 로그인 form 메인 버튼 제외 각종 버튼 크기 및 좌우 위치 고정 CSS */
.btns {
	width: 120px;
	height: 40px;
	position: absolute;
	left: calc(50% - -230px);
	overflow: hidden;
}
/* 회원가입 버튼 상하 위치 고정 CSS */
.btns-join {
	top: 46px;
}
/* 뒤로가기 버튼 상하 위치 고정 CSS */
.btns-back {
	top: 324px;
}
/* 각종버튼 content CSS */
.btns-content {
	color: #999999;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 로그인 버튼 크기 및 위치고정 CSS */
.btn-login {
	background: #1A3773;
	border-radius: 10px;
	width: 130px;
	height: 40px;
	position: absolute;
	left: calc(50% - 69px);
	top: 180px;
	overflow: hidden;
}
/* 로그인 버튼 content CSS */
.btn-login-content {
	background-color: #1A3773;
	color: #ffffff;
	text-align: center;
	font-family: "GongGothicMedium", sans-serif;
	font-size: 20px;
	line-height: 18px;
	position: absolute;
	left: calc(50% - 65px);
	top: calc(50% - 20px);
	width: 130px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}