@charset "UTF-8";

body {
	font-family: sans-serif;
	background-image: url(/images/mainPage3.png);
	background-position: center;
}

/*스크롤바 스타일 통일*/
.carousel::-webkit-scrollbar {
	width: 12px;
	height: 12px; /* 가로 스크롤바에도 적용 */
}

.carousel::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.carousel::-webkit-scrollbar-thumb {
	background-color: #1b1b78;
	border-radius: 10px;
	border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-corner {
	background: #f1f1f1;
}

h1 {
	font-weight: 100;
}

.container {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	display: block;
	overflow: hidden;
}

.carousel {
	display: block;
	width: 100%;
	height: 430px;
	background: white;
	overflow-x: scroll;
	padding: 10px;
	margin: 0;
	white-space: nowrap;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.item {
	display: inline-block;
	width: 300px;
	margin: 0 10px;
	height: 380px;
	background: rgba(0, 0, 0, 0.05) no-repeat center center;
	background-size: cover;
	position: relative;
	border-radius: 20px;
	box-shadow: 0 0 10px #dfdfdf;
}

.item div {
	width: 100%;
	top: 10%;
	position: absolute;
	text-align: center;
	font-size: 9em;
	color: white;
}

.item h1 {
	top: -11%;
	position: absolute;
	color: white;
	text-align: center;
	width: 100%;
	font-size: 3.5em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* 텍스트 그림자 추가 */
	padding: 10px; /* 패딩 추가 */
	border-radius: 20px;
	padding: 10px; /* 모서리 둥글게 처리 */
}

#gameSchedule {
	background-image:
		url(https://images.unsplash.com/photo-1642489069222-3b8f36c0e89e?q=80&w=1892&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#weather {
	background-image:
		url(https://images.unsplash.com/photo-1516242981651-2ee338449dea?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#players {
	background-image:
		url(https://images.unsplash.com/photo-1526497127495-3b388dc87620?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#teamInfo {
	background-image:
		url(https://images.unsplash.com/photo-1475440197469-e367ec8eeb19?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
}

#news {
	background-image:
		url(https://images.unsplash.com/photo-1495020689067-958852a7765e?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
}

#teamRank {
	background-image:
		url(https://images.unsplash.com/flagged/photo-1578928534298-9747fc52ec97?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
}

#article {
	background-image:
		url(https://plus.unsplash.com/premium_photo-1661301044600-8856088002c7?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
}

#ask {
	background-image:
		url(https://images.unsplash.com/photo-1603791440384-56cd371ee9a7?q=80&w=1917&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
}