@charset "UTF-8";
/* 스피너 CSS */
.spinner {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
/* 스피너 애니메이션 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.main-title {
	width: 250px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}
.main-title-content {
	color: #000000;
	text-align: center;
	line-height: 18px;
	font-weight: 700;
	width: 250px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.news_team {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 800px; /* 원하는 고정 너비 */
} 
.news_team ul {
    display: flex; 
}
.news_team li {
    margin-right: 10px; /* 항목 간 간격 설정 */
}
.name {
	font-size: 16px;
	font-family: "GongGothicMedium", sans-serif;
}
.total-news {
	display:flex;
	width:150px;
	margin-left: auto;
	margin-right: 50px;
	margin-top: 20px;
}
.total-news-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}
.news-list-container {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	width: 800px; /* 원하는 고정 너비 */
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
/* 뉴스 항목에 대한 스타일 */
div#_newsList ul li {
    border-bottom: 1px solid #ccc; /* 밑줄 추가 */
    padding-bottom: 10px; /* 밑줄과 내용 사이의 여백 */
    margin-bottom: 10px; /* 각 뉴스 항목 사이의 간격 */
}