@charset "UTF-8";

/* 컨테이너 */
.teamInfoSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	left: calc(50% - 803px);
	top: 525px;
}
/* 각 구단의 큰 설명창(로고, 구단설명) CSS */
.team {
	display: flex;
	flex-direction: row;
	gap: 25px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

/* 각 구단의 설명창 CSS */
.teamInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 700px;
	position: relative;
}

/* 구단 로고 이미지 설명창 CSS */
.teamLogo {
	flex-shrink: 0;
	width: 1200px;
	height: 45px;
	position: relative;
	overflow: hidden;
}

/* 구단 로고 이미지 위치맞춤 CSS */
.image {
	flex-shrink: 0;
	width: 70px;
	height: 42px;
	position: relative;
	object-fit: cover;
	flex-shrink: 0;
	cursor: pointer;
}

/* 홈구장 이미지 위치맞춤 CSS */
.stadiumImage {
	width: 280px;
	height: 180px;
	position: absolute;
	left: 0px;
	top: 10px;
	object-fit: cover;
}

/* 각 구단의 설명컨텐츠 창 CSS */
.info {
	border-radius: 10px;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	align-self: stretch;
	flex-shrink: 0;
	height: 200px;
	position: relative;
	overflow: hidden;
	display: none;
}

/* 찾아가기 a태그 CSS */
.find {
	color: #ffffff;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	position: absolute;
	left: calc(50% - 40px);
	top: calc(50% - 15px);
	width: 80px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.teamColor {
	border-radius: 5px;
	width: 80px;
	height: 30px;
	position: absolute;
	left: 289px;
	top: 135px;
	overflow: hidden;
}
.lg {
	background:#C30037;
}

.doosan {
	background: #0e0e2a;
}

.kiwoom {
	background: #85001f;
}

.kt {
	background: #000000;
}

.ssg {
	background: #cd142c;
}

.hanhwa {
	background: #ef8a2f;
}

.lotte {
	background: #d31f40;
}

.kia {
	background: #e20d28;
}

.samsung {
	background: #0064b2;
}

.nc {
	background: #1f468f;
}

.address {
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 130%;
	position: absolute;
	left: 289px;
	top: 87px;
	width: 400px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.stadium {
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 130%;
	position: absolute;
	left: 289px;
	top: 39px;
	width: 400px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* 지도 CSS */
.mapContainer {
	width: 800px;
	height: 950px;
	position: absolute;
	left: calc(50% - -17px);
	top: 200px;
	overflow: hidden;
}

.map_wrap, .map_wrap * {
	margin: 0;
	padding: 0;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	font-size: 12px;
}

.map_wrap {
	position: relative;
}
/* 편의사항 필터 위치 */
#category {
	position: absolute;
	display: flex;
	align-items: center;
	top: -10px;
	left: 210px;
	border-radius: 5px;
	border: 1px solid #909090;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	background: #fff;
	overflow: hidden;
	z-index: 2;
	align-items: center;
}

#category li {
	float: left;
	list-style: none;
	width: 50px;
	border-right: 1px solid #acacac;
	padding: 6px 0;
	text-align: center;
	cursor: pointer;
}

#category li.on {
	background: #eee;
}

#category li:hover {
	background: #ffe6e6;
	border-left: 1px solid #acacac;
	margin-left: -1px;
}

#category li:last-child {
	margin-right: 0;
	border-right: 0;
}

#category li span {
	display: block;
	margin: 0 auto 3px;
	width: 27px;
	height: 28px;
}

#category li .category_bg {
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png)
		no-repeat;
}

#category li .bank {
	background-position: -10px 0;
}

#category li .mart {
	background-position: -10px -36px;
}

#category li .pharmacy {
	background-position: -10px -72px;
}

#category li .oil {
	background-position: -10px -108px;
}

#category li .cafe {
	background-position: -10px -144px;
}

#category li .store {
	background-position: -10px -180px;
}

#category li.on .category_bg {
	background-position-x: -46px;
}

.placeinfo_wrap {
	position: absolute;
	bottom: 28px;
	left: -150px;
	width: 300px;
}

.placeinfo {
	position: relative;
	width: 100%;
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	padding-bottom: 10px;
	background: #fff;
}

.placeinfo:nth-of-type(n) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.placeinfo_wrap .after {
	content: '';
	position: relative;
	margin-left: -12px;
	left: 50%;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.placeinfo a, .placeinfo a:hover, .placeinfo a:active {
	color: #fff;
	text-decoration: none;
}

.placeinfo a, .placeinfo span {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.placeinfo span {
	margin: 5px 5px 0 5px;
	cursor: default;
	font-size: 13px;
}

.placeinfo .title {
	font-weight: bold;
	font-size: 14px;
	border-radius: 6px 6px 0 0;
	margin: -1px -1px 0 -1px;
	padding: 10px;
	color: #fff;
	background: #d95050;
	background: #d95050
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
		no-repeat right 14px center;
}

.placeinfo .tel {
	color: #0f7833;
}

.placeinfo .jibun {
	color: #999;
	font-size: 11px;
	margin-top: 0;
}