@charset "UTF-8";

#weather-container {
	width:1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 350px;
	text-align:center;
}

.stadium-weather {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
	width: 250px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.stadium-weather h3 {
	margin: 0;
	font-size: 18px;
	color: #333;
}

.stadium-weather p {
	margin: 5px 0;
	font-size: 16px;
}